*{
    margin: 0;
    padding: 0;
}

.banner{
    /* background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS175uOPlde7FgZ40168qt_NP8n8s_pgVB7oA&usqp=CAU"); */
    height: 400px;
    position: relative;
    background-position: center;
    background-repeat: repeat;
    color: white;
    object-fit: contain;
    /* margin-top: 50px; */
}

.banner-content{
    margin-left: 20px;
    margin-top: 90px;
    position: absolute;
    /* border: 2px solid red; */

}
.banner-content h1{
    text-transform: uppercase;
}
.banner-button{
    margin-top: 10px;
   
}
.banner-button button{
    margin-right: 10px;
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 7px;
    border: 0;
    background-color: rgb(211, 50, 50);
    color: white;
    cursor: pointer;
}
.description{
    width: 500px;
    margin-top: 20px;
    line-height: 1.5;
}



.shadow-bottom{
  position: absolute; 
  background: linear-gradient(to top, rgba(0, 0, 0, 0.947),rgba(0, 0, 0, 0.034)); 
  left: 0%;
  right: 0%;
  height: 100px;
  bottom: 0%;
}